<footer class="bg-gradient-to-r from-[#4F2362] to-[#862BAD]">
  <div class="mx-auto w-full p-2 md:p-4">
    <div class="sm:flex sm:items-center sm:justify-between">
      <img src="../../assets/images/logo.svg" class="mb-2 h-6 sm:h-8 md:mb-0" alt="Mokamind Logo" />
      <ul class="mb-4 flex flex-wrap items-center text-sm font-normal">
        <li class="md:mx-2">
          <a href="#" class="me-4 text-white hover:underline">Esta com dúvidas, fale com a gente</a>
        </li>
        <li class="me-2 md:me-4">
          <a href="#" class="text-white">
            <img src="../../assets/icons/whatssap.svg" />
          </a>
        </li>
        <li class="me-2 md:me-4">
          <a href="#" class="text-white">
            <img src="../../assets/icons/mail.svg" />
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
